%h1 User Top Tracks
-#{{data | json}}
.col-md-6
  .panel.panel-default.form-horizontal(role='form')
    .panel-heading Fetch Playlist
    .panel-body
      %form(name='topTracksForm'
        role='form'
        ng-submit='submit(topTracksForm)')
        .form-group
          %label.control-label.col-md-4(for='username') Username
          .col-md-7
            .input-group(ng-class="{'has-success': topTracksForm.username.$valid && topTracksForm.username.$dirty, 'has-error': topTracksForm.username.$invalid}")
              %span.input-group-addon
                %i.fa.fa-user
              %input.form-control(user-exists-validator
                placeholder='username' 
                value='{{data.lastfmUsername}}' 
                ng-model='data.lastfmUsername' 
                ng-model-options="{updateOn: 'blur'}"
                name='username')
            %div(ng-if='topTracksForm.username.$pending')
              Looking for last.fm user...
            %div(ng-if='topTracksForm.username.$invalid')
              No last.fm user found

        .form-group
          %label.control-label.col-md-4(for='dateRange') Date Range
          .col-md-7
            %select.form-control{ng_model: 'data.period', ng_options: 'period.name for period in data.periods'}

        .form-group
          .col-md-offset-4.col-md-8
            %button.btn.btn-primary(type='submit'
              ng-disabled='topTracksForm.$invalid') Create Playlist
.col-md-1
.col-md-5
  %div{ng_include: 'data.templateUrl'}
