%h1 User Top Tracks
-#{{data | json}}
.col-md-6
  .panel.panel-default.form-horizontal(role='form')
    .panel-heading Fetch Playlist
    .panel-body
      %form{name: 'topTracksForm', role: 'form', novalidate: true}
        .form-group
          %label.control-label.col-md-4(for='username') Username
          .col-md-7
            .input-group
              %span.input-group-addon
                %i.fa.fa-user
              %input.form-control(user-exists-validator
                placeholder='username' 
                value='{{data.lastfmUsername}}' 
                ng-model='data.lastfmUsername' 
                name='username')
            %div.error(ng-if='topTracksForm.username.$error')
              That user does not exist.
            -#%span.label.label-danger{ng_show: 'topTracksForm.$error.username'} Invalid username

        .form-group
          %label.control-label.col-md-4(for='dateRange') Date Range
          .col-md-7
            %select.form-control{ng_model: 'data.period', ng_options: 'period.name for period in data.periods'}

        -#.form-group
          %label.control-label.col-md-4(for='from') From
          .col-md-7
            %input.form-control(ng-model='fromDate' placeholder='From' type='date' name='fromDate')
        -#.form-group
          %label.control-label.col-md-4(for='to') To
          .col-md-7
            %input.form-control(ng-model='toDate' placeholder='to' type='date' name='toDate')

        .form-group
          .col-md-offset-4.col-md-8
            %button.btn.btn-primary{type: 'submit', ng_click: 'submit(topTracksForm)'} Create Playlist
.col-md-1
.col-md-5
  %div{ng_include: 'data.templateUrl'}
