%iframe{ id: 'spotify_playlist', allowtransparency: 'true', frameborder: '0', width: '500', height: '500', src: "https://embed.spotify.com/?uri=spotify:trackset:#{@title || 'Playlist'}:#{@spotify_uris.join(',')}" }
